<ngx-spinner [fullScreen]="false" bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div 
    *ngIf="leaderboard" 
    class="row justify-content-center pt-4" 
>
    <div class="row" style="width: 80%;">
        <div
            class="col p-2 text-center bracket"
            [ngClass]="{'active-bracket': bracket === '2v2'}"
            (click)="changeBracket('2v2')"
        >
            <strong>2v2</strong>
        </div>
        <div 
            class="col p-2 text-center mid-bracket"
            [ngClass]="{'active-bracket': bracket === '3v3'}"
            (click)="changeBracket('3v3')"
        >
            <strong>3v3</strong>
        </div>
        <div 
            class="col p-2 text-center bracket"
            [ngClass]="{'active-bracket': bracket === 'rbg'}"
            (click)="changeBracket('rbg')"
        >
            <strong>RBG</strong>
        </div>
    </div>
    <app-filter
        [leaderboard]="leaderboard"
        [url]="url"
        [bracket]="bracket"
        [season]="environment.currentSeason"
        (newLeaderboardEvent)="refreshLeaderboard($event)"
    >
    </app-filter>
    <app-pagination 
        [leaderboard]="leaderboard"
        [url]="url"
        (newLeaderboardEvent)="refreshLeaderboard($event)"
    >
    </app-pagination>
    <app-table [leaderboard]="leaderboard"></app-table>
    <app-pagination 
        [leaderboard]="leaderboard"
        [url]="url"
        (newLeaderboardEvent)="refreshLeaderboard($event)"
    >
    </app-pagination>
</div>