.filter-div {
    background-color: rgba(0, 0, 0, 0.4);
    align-content: center;
}

@media (min-width: 992px) {
    .filter-div {
        background-color: rgba(0, 0, 0, 0.4);
        width: 85%; 
        margin: auto; 
    }
}