<form [formGroup]="filterForm">
    <div class="row p-4 filter-div">
        <div class="col">
            <select class="form-select form-select-sm" style="background-color: rgba(0, 0, 0, 0.4); color: white;" formControlName="faction">
                <option value="All" selected style="background-color: black;" (click)="filter('All', '&character__faction__name=')">Both factions</option>
                <option value="Alliance" style="background-color: black; color: #4accff" (click)="filter('Alliance', '&character__faction__name=')">Alliance</option>
                <option value="Horde" style="background-color: black; color: #e93a3a;" (click)="filter('Horde', '&character__faction__name=')">Horde</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select form-select-sm" style="background-color: rgba(0, 0, 0, 0.4); color: white;" formControlName="realm">
                <option value="All" selected style="background-color: black;" (click)="filter('All', '&character__realm__slug=')">All realms</option>
                <option 
                    *ngFor="let realm of realms"
                    [value]="realm.slug"
                    style="background-color: black;"
                    (click)="filter(realm.slug, '&character__realm__slug=')"
                >
                    {{ realm.slug | titlecase }} ({{ realm.category }})
                </option>
            </select>
        </div>
        <div class="col">
            <select class="form-select form-select-sm" style="background-color: rgba(0, 0, 0, 0.4); color: white;" formControlName="countries">
                <option value="All" selected style="background-color: black;" (click)="filterCountry('All', '&character__realm__category=')">All categories</option>
                <option 
                    *ngFor="let country of countries"
                    [value]="country"
                    style="background-color: black;"
                    (click)="filterCountry(country, '&character__realm__category=')"
                >
                    {{ country | titlecase }}
                </option>
            </select>
        </div>
        <div class="col">
            <button type="reset" class="btn btn-warning btn-sm float-end" (click)="resetFiltersButton()">Reset filters</button>
        </div>
    </div>
    <div class="row p-4 filter-div">
        <div 
            class="col text-center"
            *ngFor="let wowClass of clases"
        >
            <img
                [id]="'wow_class-' + wowClass.id"
                class="img-fluid class-style"  
                [src]="wowClass.icon"
                [alt]="wowClass.name"
                data-toggle="tooltip" [title]="wowClass.name"
                [style]="{ 'border': '3px solid ' + wowClass.color }"
                (click)="filterClass(wowClass.id, '&character__spec__id=')"
            />
            <br>
            <img
                [id]="'spec-' + spec.id"
                class="spec-style"
                *ngFor="let spec of getClassSpecs(wowClass.id)"
                [src]="spec.icon"
                [alt]="spec.name"
                data-toggle="tooltip" [title]="spec.name"
                (click)="filterSpec(spec.id, wowClass.id, '&character__spec__id=')"
            />
        </div>
    </div>
</form>
