<div 
    class="row mt-2 justify-content-center text-center"
    >
    <div 
        class="col-md-3 rounded m-1" 
        style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;"
        *ngIf="rating2v2"
    >
        <span style="text-decoration: underline;">2v2 Rating</span>
        <div class="row">
            <div class="col">
                <h1 style="color: #12d9b8">{{ rating2v2.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ rating2v2.won }}</span>
                /
                <span style="color: red;">{{ rating2v2.lost }}</span>
                <br>
                <small>{{ rating2v2.winratio }}% win ratio</small>
            </div>
        </div>    
        <span style="color: yellow;"><small>Highest {{ character.max_2v2_rating }}</small></span>
    </div>
    <div 
        class="col-md-3 rounded m-1" 
        style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;"
        *ngIf="rating3v3"
    >
        <span style="text-decoration: underline;">3v3 Rating</span>
        <div class="row">
            <div class="col">
                <h1 style="color: #12d9b8">{{ rating3v3.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ rating3v3.won }}</span>
                /
                <span style="color: red;">{{ rating3v3.lost }}</span>
                <br>
                <small>{{ rating3v3.winratio }}% win ratio</small>
            </div>
        </div>    
        <span style="color: yellow;"><small>Highest {{ character.max_3v3_rating }}</small></span>
    </div>
    <div 
        class="col-md-3 rounded m-1" 
        style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;"
        *ngIf="ratingRbg"
    >
        <span style="text-decoration: underline;">RBG Rating</span>
        <div class="row">
            <div class="col">
                <h1 style="color: #12d9b8">{{ ratingRbg.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ ratingRbg.won }}</span>
                /
                <span style="color: red;">{{ ratingRbg.lost }}</span>
                <br>
                <small>{{ ratingRbg.winratio }}% win ratio</small>
            </div>
        </div>    
        <span style="color: yellow;"><small>Highest {{ character.max_rbg_rating }}</small></span>
    </div>
</div>
