<div 
    class="row mt-3 mb-3 justify-content-center text-center"
    *ngIf="character.ratings"
    >
    <div 
        class="col-3 rounded m-2" 
        style="background-color: #212529; padding: 10px; opacity: 0.8;"
    >
        2v2 Rating
        <hr>
        <div class="row">
            <div class="col">
                <h1 style="color: purple">{{ character.ratings[0]?.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ character.ratings[0]?.won }}</span>
                /
                <span style="color: red;">{{ character.ratings[0]?.lost }}</span>
                <br>
                <small>{{ character.ratings[0]?.winratio }}% win ratio</small>
            </div>
        </div>    
        <hr>
        <small>Highest {{ character.max_2v2_rating }}</small>
    </div>
    <div 
        class="col-3 rounded m-2" 
        style="background-color: #212529; padding: 10px; opacity: 0.8;"
    >
        3v3 Rating
        <hr>
        <div class="row">
            <div class="col">
                <h1 style="color: orangered">{{ character.ratings[1]?.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ character.ratings[1]?.won }}</span>
                /
                <span style="color: red;">{{ character.ratings[1]?.lost }}</span>
                <br>
                <small>{{ character.ratings[1]?.winratio }}% win ratio</small>
            </div>
        </div>    
        <hr>
        <small>Highest {{ character.max_3v3_rating }}</small>
    </div>
    <div 
        class="col-3 rounded m-2" 
        style="background-color: #212529; padding: 10px; opacity: 0.8;"
    >
        RBG Rating
        <hr>
        <div class="row">
            <div class="col">
                <h1 style="color: blue">{{ character.ratings[2]?.rating }}</h1>
            </div>
            <div class="col">
                <span style="color: green;">{{ character.ratings[2]?.won }}</span>
                /
                <span style="color: red;">{{ character.ratings[2]?.lost }}</span>
                <br>
                <small>{{ character.ratings[2]?.winratio }}% win ratio</small>
            </div>
        </div>    
        <hr>
        <small>Highest {{ character.max_rbg_rating }}</small>
    </div>
</div>
