.season.active-season {
    background-color: rgba(3, 105, 34, 0.6);
}
.season {
    border: 1px solid #000000; 
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.mid-season.active-season {
    background-color: rgba(3, 105, 34, 0.6);
}
.mid-season {
    border-top: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}