<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 1px solid white;">
  <div class="container">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">{{ title | titlecase}}.io</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="cutoffs">Cutoffs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/archives/29">Archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/leaderboards/3v3">Leaderboards</a>
        </li>
      </ul>
      <a hreF="">
        <img 
          [src]="environments.staticImg + 'region/estados-unidos-de-america.png'"
          style="width: 30px; margin-right: 10px; filter: grayscale(100%); "
          href=""
          alt="America"
        >
      </a>
      <img 
        [src]="environments.staticImg + 'region/union-europea.png'"
        style="width: 30px; margin-right: 50px;"
        alt="Europe"
      >
      <app-input-search></app-input-search>
    </div>
  </div>
</nav>
