<div class="row justify-content-center text-center">
    <div class="col-md-5 col-lg-3 rounded m-2" style="background-color:rgba(0, 0, 0, 0.4); padding: 10px;">
        Soulbind Traits
        <ul>
            <li 
                style="display: inline;"
                *ngFor="let item of character.soulbind_abilities"
            >
                <a [href]="'https://www.wowhead.com/?spell=' + item.spell_id" target="_blank">
                    <img 
                    [src]="environment.staticImg + '/soulbind_trait/' + item.sid + '.png'"
                    [alt]="item.name"
                    style="margin: 5px; border: 1px solid yellow; width: 40px;"
                    >
                </a>
            </li>
        </ul>
        Conduits
        <ul>
            <li 
                style="display: inline;"
                *ngFor="let item of character.conduits"
            >
                <a [href]="'https://www.wowhead.com/?spell=' + item.spell_id + '&rank=' + item.rank" target="_blank">
                    <img 
                    [src]="environment.staticImg + '/conduit/' + item.cid + '.png'"
                    [alt]="item.name"
                    style="margin: 5px; border: 1px solid yellow; width: 40px;"
                    >
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-1 col-lg-1 rounded m-2" style="background-color:rgba(0, 0, 0, 0.4); padding: 10px;">
        <img
        *ngIf="character.covenant?.cid"
        [src]="environment.staticImg + '/covenant/' + character.covenant?.cid + '.png'"
        [alt]="character.covenant?.name"
        style="vertical-align: middle; margin: 25px 5px 0 0; width: 45px;"
        >
        <br>
        <strong>{{ character.covenant?.name | titlecase }}</strong><small>
        <br>Rank {{ character?.covenant_rank }}</small>
    </div>
    <div class="col-md-5 col-lg-3 rounded m-2" style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;">
        Talents
        <ul>
            <li 
                style="display: inline;"
                *ngFor="let item of character.talents"
            >
                <a [href]="'https://www.wowhead.com/?spell=' + item.spell_id" target="_blank">
                    <img 
                    [src]="environment.staticImg + '/talent/' + item.talent_id + '.png'"
                    [alt]="item.name"
                    style="margin: 5px; border: 1px solid yellow; width: 40px;"
                    >
                </a>
            </li>
        </ul>
        Honor Talents
        <ul>
            <li 
                style="display: inline;"
                *ngFor="let item of character.pvp_talents"
            >
                <a [href]="'https://www.wowhead.com/?spell=' + item.spell_id" target="_blank">
                    <img 
                    [src]="environment.staticImg + '/pvp_talent/' + item.talent_id + '.png'"
                    [alt]="item.name"
                    style="margin: 5px; border: 1px solid yellow; width: 40px;"
                    >
                </a>
            </li>
        </ul>
    </div>
</div>