.row-alianza {
    background-color: rgba(74, 204, 255, 0.4);
}
.row-horda {
    background-color: rgba(223, 55, 55, 0.4);
}

.cutoffs-div {
    background-color: rgba(0, 0, 0, 0.4); 
}

@media (min-width: 768px) {
    .cutoffs-div {
        background-color: rgba(0, 0, 0, 0.4);
        width: 85%; 
        margin: auto; 
    }
}