/* You can add global styles to this file, and also import other style files */
body {
    background-color: #151515;
}
.flag-small {
    width: 25px;
    vertical-align: middle;
}
  
.flag-small-right {
    width: 25px;
    vertical-align: middle;
    float: right;
}