<div class="row justify-content-center">
    <div class="col-md-5 m-1 p-2 rounded" *ngIf="achievements2v.length > 0" style="background-color:rgba(0, 0, 0, 0.4)">
        <div
            class="row"
            data-toggle="tooltip"
            [title]="tooltipAchievements2v"
        >
            <div class="col-2">
                <img [src]="imgAchievements2v" [alt]="achievements2v[achievements2v.length-1].name">
            </div>
            <div class="col" style="margin-left: 5px;">
                <span style="color: yellow;">{{ achievements2v[achievements2v.length-1].name }}</span>
                <br>
                <small>{{ achievements2v[achievements2v.length-1].description }}</small>
            </div>
        </div>
    </div>
    <div class="col-md-5 m-1 p-2 rounded" *ngIf="achievements3v.length > 0" style="background-color: rgba(0, 0, 0, 0.4)">
        <div
            class="row"
            data-toggle="tooltip"
            [title]="tooltipAchievements3v"
        >
            <div class="col-2">
                <img [src]="imgAchievements3v" [alt]="achievements3v[achievements3v.length-1].name">
            </div>
            <div class="col" style="margin-left: 5px;">
                <span style="color: yellow;">{{ achievements3v[achievements3v.length-1].name }}</span>
                <br>
                <small>{{ achievements3v[achievements3v.length-1].description }}</small>
            </div>
        </div>
    </div>
    <div class="col-md-5 m-1 p-2 rounded" *ngIf="achievementsRbg.length > 0" style="background-color: rgba(0, 0, 0, 0.4)">
        <div
            class="row"
            data-toggle="tooltip"
            [title]="tooltipAchievementsRbg"
        >
            <div class="col-2">
                <img [src]="imgAchievementsRbg" [alt]="achievementsRbg[achievementsRbg.length-1].name">
            </div>
            <div class="col" style="margin-left: 5px;">
                <span style="color: yellow;">{{ achievementsRbg[achievementsRbg.length-1].name }}</span>
                <br>
                <small>{{ achievementsRbg[achievementsRbg.length-1].description }}</small>
            </div>
        </div>
    </div>
    <div class="col-md-5 m-1 p-2 rounded" *ngIf="achievementsRank.length > 0" style="background-color: rgba(0, 0, 0, 0.4)">
        <div
            class="row"
            data-toggle="tooltip"
            [title]="tooltipAchievementsRank"
        >
            <div class="col-2">
                <img [src]="imgAchievementsRank" [alt]="achievementsRank[achievementsRank.length-1].name">
            </div>
            <div class="col" style="margin-left: 5px;">
                <span style="color: yellow;">{{ achievementsRank[achievementsRank.length-1].name }}</span>
                <br>
                <small>{{ achievementsRank[achievementsRank.length-1].description }}</small>
            </div>
        </div>
    </div>
</div>